@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --bluedark: rgba(68, 73, 75, 1);
  --bluedark-active: rgba(21, 23, 24, 1);
  --bluedark-hover: rgba(48, 52, 54, 1);
  --bluelight-active: rgba(215, 225, 229, 1);
  --bluelight-hover: rgba(222, 230, 233, 1);
  --bluelighter: rgba(227, 234, 237, 1);
  --bluenormal: rgba(193, 209, 215, 1);
  --bluenormal-active: rgba(141, 153, 157, 1);
  --bluenormal-hover: rgba(164, 178, 183, 1);
  --greydark: rgba(23, 23, 23, 1);
  --greydark-active: rgba(13, 13, 13, 1);
  --greydark-hover: rgba(18, 18, 18, 1);
  --greydarker: rgba(11, 11, 11, 1);
  --greylight: rgba(233, 233, 233, 1);
  --greylight-active: rgba(185, 185, 185, 1);
  --greylight-hover: rgba(221, 221, 221, 1);
  --greynormal: rgba(30, 30, 30, 1);
  --greynormal-active: rgba(24, 24, 24, 1);
  --greynormal-hover: rgba(27, 27, 27, 1);
  --whitedark: rgba(186, 186, 186, 1);
  --whitedark-active: rgba(112, 112, 112, 1);
  --whitedark-hover: rgba(149, 149, 149, 1);
  --whitedarker: rgba(87, 87, 87, 1);
  --whitelight: rgba(254, 254, 254, 1);
  --whitelight-active: rgba(253, 253, 253, 1);
  --whitelight-hover: rgba(254, 254, 254, 1);
  --whitenormal: rgba(248, 248, 248, 1);
  --whitenormal-active: rgba(198, 198, 198, 1);
  --whitenormal-hover: rgba(223, 223, 223, 1);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: transparent;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: transparent;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
